#expertiseIn {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

#expertIn1 {
    grid-column: span 3;
    grid-row: span 1;
}

#expertIn2 {
    grid-column: 4 / span 5;
    grid-row: span 1;
}

#expertIn3 {
    grid-column: span 5;
    grid-row: span 1;
}

#expertIn4 {
    grid-column: 6 / span 3;
    grid-row: span 1;
}

#proStatement {
    grid-area: 1 / 9 / 3 / 13;
}

@media (max-width: 991px) {
    #expertIn1 {
        grid-column: span 5;
    }

    #expertIn2 {
        grid-column: 6 / span 7;
    }

    #expertIn3 {
        grid-column: span 6;
    }

    #expertIn4 {
        grid-column: 7 / span 6;
    }

    #proStatement {
        grid-column: span 13;
        grid-row: 3;
    }

}

@media (max-width: 575px) {
    #expertIn1, #expertIn2, #expertIn3, #expertIn4, #proStatement {
        grid-column: span 13;
        grid-row: auto; /* Automatically span as many rows as needed */
    }
}